node_modules
.env
.env.local
.env.*.local
dist/
shell/dist/
mfe-cadastro/dist/
mfe-cadastro/node_modules/
mfe-leilao/dist/
mfe-leilao/node_modules/
shell/node_modules/
shell/public/mfe-cadastro/
shell/public/mfe-leilao/
.vscode
.idea